@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

////project settings
$gray: #666666;
$gray_lighten: #ccc;

$blue : #00cfff;
$blue_lighten : #66e2ff;
$blue_dull: #00a0c6;

$green: #00c4ac;
$green_lighten: #00c4ac;
$green_dark: #007f6d;

$blue_gradation: linear-gradient( to right, $blue_lighten, $blue);	


$navy: #0f298f;

$orange: #e64a00;


$instagram: #3f729b;
$twitter: #55acee;
$facebook: #3b5998;
$hatena: #008fed;

////base settings
$basefontColor : #3a3a3a;
$link: $green_dark;
$border: $gray_lighten;



