//////////////////////////////////////////

//font setting

//include by style.scss

//////////////////////////////////////////
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic Bold";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@font-face {
	font-family: 'BodoniSansDisplayBold';
	src: url('../fonts/bodonisans/BodoniSansDisplay-Bold.eot');
	src: url('../fonts/bodonisans/BodoniSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bodonisans/BodoniSansDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
  font-family: 'BodoniSansDisplayRegular';
  src: url('../fonts/bodonisans/BodoniSansDisplay-Regular.eot');
  src: url('../fonts/bodonisans/BodoniSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bodonisans/BodoniSansDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'BodoniSansDisplayBlack';
  src: url('../fonts/bodonisans/BodoniSansDisplay-Black.eot');
  src: url('../fonts/bodonisans/BodoniSansDisplay-Black.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bodonisans/BodoniSansDisplay-Black.woff') format('woff'),
     url('../fonts/bodonisans/BodoniSansDisplay-Black.ttf') format('truetype');
  font-weight: normal;
}


// @import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

// 【明朝】　font-family:Times New Roman , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN , "MSP明朝","MS PMincho","MS 明朝",serif;
// 【ゴシック】　font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;