/************************

// top

************************/

%indexStyle_a{
	line-height: 1.4;
	margin-bottom: 40px;
	color: $blue_dull;
	font-size: 2em;
	letter-spacing: 0.1em;
	
	@include break( tab ){
		margin-bottom: 30px;
		font-size: 1.5em;
	}
}

%indexStyle_b{
	line-height: 1.4;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 1.25em;
	letter-spacing: 0.075em;
	
	&:before{
		line-height: 1;
		content: " ";
		width: 22px;
		height: 1px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		background-image: linear-gradient( to left, $blue, $blue_lighten);
	}

	@include break( tab ){
		margin-bottom: 20px;
		font-size: 1.2em;
		padding-left: calc(1em + 8px);
		text-indent: calc(-1em - 8px);
		
		&:before{
			width: 1em;
			margin-right: 5px;
			vertical-align: middle;
		}		
	}

}

////////////////////////

// mainVisual

////////////////////////

.visual{
	margin-bottom: 100px;
	line-height: 1;
	overflow: hidden;
	position: relative;
	
	@include break( tab ){
		margin-bottom: 0;
	}	
	
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;

	
	&__image{
		width: percentage( 820/ 1366 );
		height: 0;
		padding-top: percentage( 468/ 1366 );
		overflow: hidden;
		position: relative;
		background: lighten( $blue_lighten, 30% );
		
		@include break( tab ){
			width: 100%;
			padding-top: 0;
			height: auto;			
		}		
		
		// &,img{
		// 	opacity: 0;
		// 	transition: easeInOut(all,0.6s);
		// 	transform: translateY( 10px );						
		// }
		
		img{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition-delay: 1s;
			@include break( tab ){
				position: static;
		
			}		
			
		}
	}

	
	&__textArea{
		height: 100%;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		
		@include break( tab ){
			position: static;
		}		

				
		.visual__index{
			position: relative;

			.en{
				line-height: 1;
				margin-right: -0.25em;
				opacity: 0.35;
				font-size: 10em;
				// font-size: 12.15vw;				
				letter-spacing: 0.25em;
				display: block;
				color: $blue_lighten;
				font-family: $fontFamily_bodoniSans_b;
				mix-blend-mode: multiply;	
				
				@include break( tab ){
					margin-top: -0.5em;
					margin-right: 0;
					opacity: 0.7;
					font-size: 18vw;			
				}		
			}
			.ja{
				height: 1em;
				margin-top: auto;
				margin-bottom: auto;
				font-size: 1.5em;
				font-weight: lighter;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				letter-spacing: 0.25em;
		
				@include break( tab ){
					margin-top: 25px;
					margin-bottom: 25px;
					position: static;
					font-size: 1.0875em;
				}		
				
			}
		}
		
		.wrap{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: right;
			position: relative;
				@include break( tab ){
					position: static;
					display: block;
					text-align: center;
				}		
			
		}
	}

	&.js-effect .visual__index{

		.en{
			span{
				display: inline-block;
				opacity: 0;
				transform: skewX( 10deg ) translateX( 30px );
				transition: transition(all, 1s);
			}
			// span:nth-child( odd ){
			// 	transform: translateY( -10px );
			// }
			// span:nth-child( even ){
			// 	transform: translateY( 10px );
			// }
			@for $i from 1 through 20 {
				span:nth-child( #{$i} ){
					transition-delay: #{$i * 0.15 + 0.85}s;
				}
			}			
		}

		.ja{
			opacity: 0;
			transform: translateX( 10px );
			transition: transition(all, 1s);
			transition-delay: 0.5s;
		}
	}
	@at-root .isLoaded &.-on .visual__index{
		.ja{
			opacity: 1;
			transform: skewX( 0deg ) translateX( 0px );
		}
		.en{
			span{
				opacity: 1;

				transform: skewX( 0deg ) translateX( 0px );
			}
			// span:nth-child( odd ){
			// 	transform: translateY( -0px );
			// }
			// span:nth-child( even ){
			// 	transform: translateY( -0px );
			// }			
		}		
	}


	&__description{
		line-height: 1.75;
		font-size: $xsmall;
		margin-bottom: 50px;
		letter-spacing: 0.25em;
		word-wrap: break-word;
		
		@include break( tab ){
			padding-left: 5%;
			padding-right: 5%;
			font-size: 1em;
			letter-spacing: 0.18em;
		}			
	}
	&.js-effect .visual__description{
		opacity: 0;
		transform: translateX( 5px );
		transition: transition(all, 1s);
		transition-delay: 0.25s;
	}
	&.-on .visual__description{
		opacity: 1;
		transform: translateX( 0px );		
	}


	.breadCrumb{
		font-size: $xsmall;
		position: absolute;
		right: 0;
		bottom: 0;
		
		@include break( tab ){
			top: 5px;
			right: 10px;
			bottom: auto;
		}		
		

		li{
			display: inline-block;
			
			&:after{
				content: " ";
				width: 5px;
				height: 5px;
				margin-right: 5px;
				margin-bottom: 2px;
				margin-left: 5px;
				border-top: solid 1px ;
				border-right: solid 1px ;
				transform: rotate( 45deg );
				display: inline-block;
				@include break( tab ){
					width: 3px;
					height: 3px;
					margin-right: 3px;
					margin-left: 3px;
				}					
				
			}

			&:last-child:after{
				display: none;
			}
		}
	}	
	
}



////////////////////////

// text

////////////////////////

.section__content{

	ul{
		padding-left: 0;
		li{
			list-style: none;
		}
	}

	p{
		margin-top: 15px;
		margin-bottom: 15px;

		@include break( tab ){
			margin-top: 0.8em;
			margin-bottom: 0.8em;
		}		
	}
	

	.section__child{
		margin-top: 45px;
		margin-bottom: 45px;
			
		&__index{
			@extend %indexStyle_b;
		}

		@include break( tab ){
			margin-top: 40px;
			margin-bottom: 40px;
		}		
	}
}


//////// check mark list
.aList{
	&.-check{
		li{
			&:before{
				content: "";
				width: 16px;
				height: 9px;
				margin-right: 8px;
				border-left: solid 1px;
				border-bottom: solid 1px;
				transform: rotate( -45deg );
				display: inline-block;
				vertical-align: text-top;
				
				@include break( sp ){
					width: 10px;
					height: 5px;					
				}				
			}
		}
	}
}


//////// table
.aTable{
	width: 100%;
	border-collapse: collapse;
	display: table;

	tr,
	.aTable__tr{
		width: 100%;
		border-bottom: solid $border 1px;
		display: table-row;
		// @include break( tab ){
		// 	display: block;
		// } 			
	}
	th,
	td,
	.aTable__th,
	.aTable__td{
		text-align: left;
		padding-top: 20px;
		padding-bottom: 20px;
		display: table-cell;
		vertical-align: top;
		
		@include break( tab ){
			padding-top: 15px;
			padding-bottom: 15px;
			// display: block;
		} 		
	}

	tr:first-child,
	.aTable__tr:first-child{
		th,
		td{
			padding-top: 0;			
		}		
	}


	th,
	.aTable__th{
		width: 100px;
		font-weight: lighter;
		
		@include break( tab ){
			width: 6em;
		} 		
	}
}

.aColumn{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: table;
	table-layout: fixed;
	
	@include break( tab ){
		margin-top: 25px;
		margin-bottom: 25px;
		display: block;
	}		
	
	&__row{
		display: table-cell;
		vertical-align: top;
	
		@include break( tab ){
			display: block;
		}		
	}
	&__row + .aColumn__row{
		padding-left: 50px;
		@include break( tab ){
			padding-left: 0;
		}
	}	
}


//////// 囲み
.aInfo{
	max-width: 770px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	text-align: center;
	border: solid 1px $border;
	box-sizing: border-box;
	
	@include break( tab ){
		margin-top: 25px;
		margin-bottom: 25px;
		padding: 20px;
	}
	
	p{
		max-width: none;
		
		&:first-child{
			margin-top: 0;
		}
		
		&:last-child{
			margin: 0;
		}
	}

	&__telnum{
		line-height: 1;
		font-size: $xxlarge;
		font-family: $fontFamily_bodoniSans_b;
		letter-spacing: 0.075em;
		
		@include break( tab ){
			font-size: 2em;
		}		
		
		&:before{
			content: "TEL";
			margin-right: 5px;
			display: inline-block;
			font-size: 0.5em;
			color: $gray;			
		}
	}
}



////////// ページフッター部分問い合わせ
.articleFooterContact{
	line-height: 1;
	margin-top: 120px;
	margin-bottom: -20px;
	padding-top: 80px;
	border-top: solid 1px $border;
	text-align: center;
	
	
	@include break( tab ){
		margin-top: 60px;
		padding-top: 35px;
		margin-bottom: -25px;
	}	
	
	.button{	
		width: 80%;
		max-width: 600px;	
		a{
			padding-top: 30px;
			padding-bottom: 30px;
			
			@include break( sp ){
				padding-top: 20px;
				padding-bottom: 20px;
			}				
		}
	}
}


