//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////


body{
	position: relative;
}



////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 1;
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;	
	background-color: $green;
	
	@include break( tab ){
		padding-top: 20px;
		padding-bottom: 19px;
		text-align: center;
	}		
	
	
	@at-root .-isScrolled .siteHeader{
		// opacity: 0;
		position: fixed;
		opacity: 0;
		transition: transition();
		transition-property: transform;
		transform: translateY( -20px );
		
		font-size: $small;
	}
	@at-root .-isScrolled.-isScrolledMore .siteHeader{
		// opacity: 1;
		// transform: translateY( 0px );
		
		animation: navShow 0.5s ease-in-out 0s 1 normal both;	
	}
	
	 > .wrap{
	 	display: flex;
	 	flex-direction: row;
	 	align-items: center;
	 	justify-content: space-between;
		
		@include break( tab ){
			flex-direction: column;
		} 	
	 }

	&__logo{
		line-height: 1;
		margin-top: 0;
		margin-bottom: 0;
		
		img{
			transition: transition();	
			
			
			@include break( tab ){
				max-width: 80%;
			}				
		}
	}

	&__nav{

			@include break( tab ){
				width: 100%;
			}			
		
		ul {
			@include break( tab ){
				display: flex;
				flex-direction: row;
			}					
		}
		
		li{
			line-height: 1;
			display: block;
			color: #fff;
			transition: transition();
			
			&:not( :last-child ){
				margin-bottom: 10px;				
			}

			@include break( tab ){
				width: 100%;
				text-align: center;
				font-size: 12px;
				
				&:not( :last-child ){
					margin-bottom: 0;
				}
				
			}		

		}

		&__tel{
			line-height: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			letter-spacing: 0.01em;
			
			@include break( tab ){
				margin-bottom: 0;
				display: inline-flex;
			}

			
			dt { 
				font-size: 0.95em;
				
				&:before,
				&:after{
					content: " ";
					display: inline-block;
					line-height: 1;		
				}
				
				&:before{
					width: 13px;
					height:20px;
					margin-right: 10px;	
					position: relative;
					bottom: 1px;
					vertical-align: middle;						
					background: url( ../img/reha/icon-phone.svg) center center no-repeat;
					background-size: auto 100%;
					
					@include break( tab ){
						display: none;
					}
				}
				&:after{
					width: 25px;
					height: 1px;
					margin-right: 10px;
					margin-left: 10px;
					background-color: #fff;
					vertical-align: middle;	
					
					@include break( tab ){
						width: 10px;
						margin-right: 3px;
						margin-left: 3px;
					}

					
				}
			}
			dd{
				padding-left: 0;
				margin-left: 0;
				font-size: $large;
				font-weight: bold;
				font-family: $fontFamily_bodoniSans_r;
				letter-spacing: 0.1em;
			}

			@at-root .-isScrolled .siteHeader__nav__tel dd{					
				font-size: 1em;
			}			
		}

		a{
			color: inherit;
		}
	}
}


.-isScrolled .siteHeader{
	padding-top: 5px;
	padding-bottom: 5px;
	@include break( tab){
		padding-top: 13px;
		padding-bottom: 12px;
	}
	.siteHeader__logo{
		width: 251px;
		@include break( tab){
			width: auto;
		}		
	}
}	

//////////

// atfter load effect

//////////

.siteHeader{
	&__logo,
	&__nav{
		transition: transition( all, 1s);
		transform: translateY(-20px);
		opacity: 0;
	}
}

.isLoaded.isRenderered{
	.siteHeader{
		&__logo,
		&__nav{
			transform: translateY(0px);
			opacity: 1;
		}	
		.siteHeader{
			&__logo{
				transition-delay: 0s;
			}
			&__nav{
				transition-delay: 0.2s;
			}
		}
	}
}


////////////////////

// navigation

////////////////////


.nav {
	width: 100%;
	line-height: 1;
	position: fixed;
	z-index: 9;
	right: 0;
	bottom: 0;
	left: 0;
	transition: transition();	
	opacity: 0;
	transform: translateY( 20px );
	font-size: $small;
	
	@at-root .-isScrolledMore .nav{
		opacity: 1;
		transform: translateY( 0 )	
	}
	

	@include break( tab,min ){
		font-size: 0.9375em;
	}	

	ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		align-content: flex-start ;
	}	
	&__phase{
		width: 100%;
		display: block;
		text-align: center;
		letter-spacing: 0.05em;
		
		span{
			@include break( tab ){
				display: none;
			}
		}	
		
		.en{
			margin-top: 0;
			margin-bottom: 10px;
			transition: transition();
			color: #ccc;
			font-family: $fontFamily_bodoniSans_r;
			@include break( tab ){
				height: 1em;
				line-height:1;
				margin-top: auto;
				margin-bottom: auto;				
				font-size: 40px;
				position: absolute;
				color: #e4e4e4;
				top: 0;
				bottom: 0;
				left: 5px;
				
			}			
		}
		.ja{
			margin-top: 0;
			margin-bottom: 0;
			transition: transition();
			font-size: $small;
			
			@include break( tab ){
				position: relative;
				z-index: 1;	
			}			
		}
		
		a{
			padding: 15px 10px;
			display: block;
			position: relative;
			color: inherit;
			background-color: #fff;
			

			@include break( tab ){
				padding-top: 20px;
				padding-bottom: 20px;				
			}

			
			@include mouseOver(){
				background-color: #f8f8f8;				

				.ja{
					color: $gray;
				}						
			}
		}

		div{
			display: inline-block;
			text-align: left;
		}

		&.inactive a{
			pointer-events: none;
			background-color: #f8f8f8;
			.ja{
				color: $gray;
			}		
		}
		
	}

	.phase--contact{
		@include break( tab ){
			display: none;
		}
	}

}




////////////////////

// main content

////////////////////

.mainContent{
	padding-top: $navHeight;
	
	@include break( tab ){
		padding-top: $navHeightSp;		
	}
}



////////////////////

// footer

////////////////////

.siteFooter
{
	margin-top: 100px;
	
		
	@include break( tab ){
		margin-top: 60px;
	}		
	
	.nav{
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-between;
	    
		@include break( tab ){
			flex-direction: column;
		}		    
	}			
	
	.nav li{
		display: block;
		@include break( tab ){
			&:not( :last-child ){
				margin-bottom: 15px;				
			}
		}			
	}

	.nav li:not(.button) a{
		display: block;
		@include break( tab ){
			&:after{
				content: " ";
				width: 16px;
				height: 8px;
				margin-left: 10px;
				display: inline-block;
				vertical-align: middle;
				background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
			}				
		}
		.nav li.button a{
			&:after{
				display: none;
			}
		}			
	}	
	
	///////// バナー
	&__banners{
		padding-top: 80px;
		padding-right: 30px;
		padding-bottom: 80px;
		padding-left: 30px;
		background-color: #f5fffd;
			
		
		@include break( tab ){
			padding: 0;
			// padding-top: 25px;
			// padding-right: 0;
			// padding-bottom: 25px;
			// padding-left: 0;
		}

		.wrap{
			@include break( tab ){
				overflow-x: auto;				
				padding-right: 0;
				padding-left: 0;
				-webkit-overflow-scrolling: touch				
			}				
		}				
			
		.banners{
			text-align: center;
			overflow: hidden;
	
			@include break( tab ){
				overflow: auto;
				padding: 25px 0;
				background-color: #f2fdff;
				display: flex;
				flex-wrap: nowrap;
				
				li{
					width: 150px;
					padding-right: 10px;
					padding-left: 10px;
					flex-shrink: 0;
				}
			}
		}
		
		li{
			padding-right: 20px;
			padding-left: 20px;
			// float: left;
			display: inline-block;
			// @include break( tab ){
			// 	padding-left: 20px;
			// 	padding-right: 20px;
			// }				
		}
	}

	//////// nav
	&__backToTop{
		line-height: 1;
		padding: 10px;
		background-color: $green_lighten;
		cursor: pointer;
		transition: transition();
		
		@include mouseOver(){
			// padding-top: 20px;
			// padding-bottom: 20px;
			background-color: $green_dark;
		}
		
		i{
			width: 17px;
			height: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			transform: rotate( -90deg );
			background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
		}
	}


	////////クレジットとローカルナビ
	&__creditArea{
		padding-top: 30px;
		padding-bottom: 70px;
		font-size: $small;		
		background-color: #fff;
		
		@include break( tab ){
			padding-bottom: 70px;
		}			
		

		.creditArea{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;
		    
		    @include break( tab ){
		    	flex-direction: column;
		    }

		}

		///// ←
		.areaLeft{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;	
		    
			@include break( tab ){
				flex-direction: column;
				text-align: center;
			}			    
		    
		    &__logo{
		    	width: 100px;
		    	margin-right: 40px;
		    	
				@include break( tab ){
					width: 50px;
					// margin-top: 35px;
					margin-right: 0;
					margin-bottom: 20px;
				}			    	
		    }

		    &__address{

		    	p{
		    		margin-top: 0;
		    		margin-bottom: 10px;
					@include break( tab ){
						margin-bottom: 0;
					}			    		
		    	}

		    }

		    .orthopaedics{
					@include break( tab ){
						margin-top: 20px;
					}		    	
		    }		
		}

		/////→
		.areaRight{
			font-size: $xsmall;

		    	.copyright{
		    		color: $gray;
		    		font-size: 10px;
		    		
					@include break( tab ){
						margin-top: 20px;
					}			    		
		    	}
		}
	}

}



////////////////////

// loading anim

////////////////////

.loadingAnim{
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 11;
	box-sizing: border-box;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #fff;
	
	@include break( tab ){
	}

	&__logo{
		transition: transition();
		transition-delay: 0s;
	}
	
	
	&__text{
		margin-top: 1em;
		// transform: scaleX( 0.85 );
		letter-spacing: 0.45em;
		font-size: $small;
		position: relative;
		transition: transition();
		transition-delay: 0.2s;		
		
		&:before,
		&:after{
			content: " ";
			margin-right: auto;
			margin-left: auto;
			display: block;
			position: absolute;
			right: 0;
			left: 0;
			bottom: -40px;
			border-radius: 100%;
			transition: transition();			
		}
		&:before{
			width: 20px;
			height: 20px;
			mix-blend-mode: hard-light;
			background-color: #fff;
			animation: loading_s 1.2s ease-in-out 0s infinite alternate both;
		}
		&:after{
			width: 10px;
			height: 10px;
			bottom: -35px;
			background-color: green;
			animation: loading 1.2s ease-in-out 0.4s infinite alternate both;			
		}
	}
}

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	
	&:after{
		content: " ";
		width: 100vw;
		height: 100vh;
		margin-right: auto;
		margin-left: auto;
		display: block;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		left: 0;
		text-align: center;
		color: #fff;
		transition: easeInOutCirc(all,0.8s);
		transition-delay: 0.4s;
		background-color: $green;			
	}
}

.isLoaded{
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;

	&:after{
		height: 85vh;
		z-index: 0;
		position: absolute;

		@include break( 1366 ){
			height: 90vh;
		}			
		
		
		@include break( tab ){
			height: 50vh;
		}			
	}
	
	.loadingAnim{
		
		&__text,
		&__logo{
			transform: translateY( -10px );
			opacity: 0;
		}
		&__text:before,
		&__text:after{
			opacity: 0;
		}
	}
}



////////////////////

// link

////////////////////

.-hasArrow{
	a:after{
		content: " ";
		width: 16px;
		height: 8px;
		margin-left: 10px;
		display: inline-block;
		background: url(../img/common/icon-arrow-green.svg) center center no-repeat;
	}
}
.-hasBlank{
	a:after{
		content: " ";
		width: 10px;
		height: 12px;
		margin-left: 5px;
		display: inline-block;
		background: url(../img/common/icon-targetBlank.svg) center center no-repeat;
	}	
}



%indexStyle_b{
	line-height: 1.4;
	margin-bottom: 30px;
	font-weight: bold;
	// font-size: 1.25em;
	letter-spacing: 0.075em;

	@include break( tab ){
		margin-bottom: 20px;
		// font-size: 1.2em;
		padding-left: calc(1em + 8px);
		text-indent: calc(-1em - 8px);	
	}
}