/************************

// 現場を知る

************************/
.page-works{


	.visual{
		&__textArea{
			.visual__index{

				.en{						
					@include break( tab ){
					}		
				}

				.ja{
					@include break( tab ){
						margin-bottom: 50px;
					}						
				}
			}			
		}

	}


	
	.articleContent p,
	.articleContent__child,
	.interview__content{
		max-width: 770px;
	}


	//////// page anchor
	.works-anchor{
		
		ul{
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
			font-size: $small;
			flex-wrap: wrap;
			
			li{
				line-height: 1;
				width: 195px;
				display: block;
				
				@include break( tab ){
					width: calc( 50% - 10px);
					margin-bottom: 15px;
				}
				
				a{
					padding-top: 0px;
					padding-right: 20px;
					padding-bottom: 25px;
					display: block;
					position: relative;
					border-bottom: solid 1px $navy;
					
					@include break( tab ){
						padding-right: 15px;
						padding-bottom: 15px;
					}					
					
					&:before{
						content: " ";
						width: 0%;
						height: 1px;
						position: absolute;
						bottom: -1px;
						left: 0;
						transition: transition();
						display: block;
						background-color: $border;
					}

					@include mouseOver( ){
						&:before{
							width: 100%;						
						}
					}
					
					&:after{
						content: " ";
						width: 16px;
						height: 8px;
						margin-top: auto;
						margin-bottom: auto;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;						
						display: inline-block;
						background: url(../img/common/icon-arrow-navy.svg) center center no-repeat;
						transform: rotate( 90deg );
						
					}
				}

				.en{
					margin-top: 0;
					margin-bottom: 10px;
					font-family: $fontFamily_bodoniSans_r;
					letter-spacing: 0.1em;
					
					@include break( tab ){
						font-family: $fontFamily_bodoniSans_b;
					}					
				}
				.ja{
					margin-top: 0;
					margin-bottom: 0;
					letter-spacing: 0.075em;
				}
			}
		}
	}



	//////// interview
	.interviews{
		padding-bottom: 100px;
		margin-bottom: 100px;
		border-bottom: solid 1px $border;
		
		@include break( tab ){
			padding-bottom: 50px;
			margin-bottom: 50px;
		}
	}


	///////// js  efect settings
	.interview.js-effect{
		.js-effect__maskTarget{
			display: inline-block;
			position: relative;
			overflow: hidden;
			
			&:after{
				content: " ";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				transition: transition(all, 0.75s);
				transform-origin: right bottom;
				transform: translateX( 0% ) skewX( 0deg );			
				display: block;
				background-color: lighten( $blue_lighten, 20% );
			}
		}

		&.-on {
			.js-effect__maskTarget:after,
			.js-effect.-on .js-effect__maskTarget:after{
				width: 0;
				left: auto;
				right: 0;
				transform:skewX( -20deg ) translateX( 110% ) ;
			}

			.js-effect .js-effect__maskTarget:after{
				width: 100%;
				right: auto;
				left: 0;
				transform: translateX( 0% ) skewX( 0deg );							
			}
		}
	}


	.interview{
		padding-top: 230px;
		margin-top: -80px;
		// margin-top: 150px;
		position: relative;

		@include break( tab ){
			padding-top: 125px;
			margin-top: -50px;
			// margin-top: 75px;
		}		
		
		p{
			margin-top: 30px;
			margin-bottom: 30px;
			
				@include break( tab ){
					margin-top: 18px;
					margin-bottom: 18px;
				}			
		}

		
		&__index{
			line-height: 1;
			position: absolute;
			z-index: 2;
			top: 170px;
			// top: -60px;
			font-weight: bold;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			
			@include break( tab ){
				// top: -30px;
				top: 95px;
			}			
			
			.en,
			.ja{
				line-height: 1;
				margin: 0;
				writing-mode: vertical-rl;
				display: inline-block;
			}
			
			.en{
				margin-top: 0;
				margin-left: 10px;
				
				transform-origin: 0 0;
				mix-blend-mode: multiply;
				font-size: $large;
				letter-spacing: 0.1em;
				color: $blue;
				font-family: $fontFamily_bodoniSans_r;

				@include break( tab ){
					font-size: $xlarge;
				}									
			}

			.ja{
				letter-spacing: 0.1em;
				font-size: $xlarge;
			}
		}

		&:nth-of-type( odd ){
			.interview__index{
				left: 70px;
				
				@include break( tab ){
					left: 20px;
				}					
			}
		}
		&:nth-of-type( even ){
			.interview__index{
				right: 70px;
				
				@include break( tab ){
					right: 20px;
				}									
			}
		}

		///// transition setting
		@at-root .isLoaded .js-effect.interview{
			.interview__index{
				.en,
				.ja{
					opacity: 0;
					transform-origin: bottom;
					transition: transition( all, 1s );
					transform: skewX( 5deg ) rotateX(-3deg) translate3d( -5px,0,0 );
				}
				.en{
					transition-delay: 0.5s;
				}
				.ja{
					transition-delay: 0.75s;
				}
			}
			&.-on{
				.interview__index{
					.en,
					.ja{
						opacity: 1;
						transform: skewX( 0deg ) rotateX(0deg) translate3d( 0px,0,0 );
					}
				}				
			}				
		}		


		&__img{
			line-height: 1;
			&,figure{
			}
		}

		///// transition setting
		@at-root .isLoaded .js-effect.interview{
			.interview__img{
				img{
					opacity: 0;
					transform: translateX( -20px );
					transition: transition(all, 1s );					
				}
			}
			&.-on{
				.interview__img {
					img{
						opacity: 1;
						transform: translateX( 0px );					
					}
				}
			}				
		}


		&__content{
			p:last-child{
				margin-bottom: 0;
			}
			p:first-child{
				margin-top: 0;
			}
		}
	}


	//////////invetview 1 
	.-interview1
	{
		.interview{

			&__img{
				position: relative;
			}

			&__by{
				position: absolute;
				right: 20px;
				bottom: 20px;
				letter-spacing: 0.08em;
				text-shadow: 0 0 20px rgba(#000, 0.5);
				font-size: $xsmall;
				color: #fff;
				
				p{
					margin: 0 0 5px;
				}
				
				&__name{
					font-weight: bold;
					font-size: $large;
				}
			}


			&__content{
				&__index{
					margin-top: -40px;
					padding-top: 30px;
					padding-right: 30px;
					background-color: #fff;
					display: inline-block;
					position: relative;
					@extend %indexStyle_a;
					
					@include break( tab ){
						margin-top: 30px;
						padding-top: 0;
						padding-right: 0;
						display: block;
					}					

				}
			}
		}	
	}

	//////////invetview 2 
	.-interview2
	{
		.interview{
			&__by{
				text-align: right;
				font-size: $small;
			}
		}	


		.talk{
			
			&__index{
				margin-top: 70px;
				margin-bottom: 40px;
				font-size: $large;
				font-weight: bold;
				color: $blue_dull;
				
				@include break( tab ){
					margin-top: 30px;
					margin-bottom: 20px;
				    padding-left: calc(1em + 8px);
				    text-indent: calc(-1em - 8px);					
				}					
				
				&:before{
					content: " ";
					width: 20px;
					height: 1px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					background-color: $border;
					
					@include break( tab ){
						width: 15px;
					}					
				}
			}

			dl{
				margin-bottom: 35px;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				
				@include break( tab ){
					margin-bottom: 25px;
				}				
				
				dt{
					width: 3em;
					margin-right: 1em;
					flex-shrink: 0;
					font-weight: bold;
				}

				dd{
					margin-left: 0;
				}
			}
		}		
	}	


	///////// interview 3
	.-interview3{

		.interview{
			&__index .ja {
				width: 1.4em;
				line-height: 1.4;
				
				@include break( tab ){
					width: auto;
				}				
			}			
		}


		.womensCareer{
			margin-top: 40px;
			margin-bottom: 40px;
			
			@include break( tab ){
				margin-top: 30px;
				margin-bottom: 30px;
			}			

			&__index{
				@extend %indexStyle_b;
			}
			
		}


		.interview__footer{
			margin-top: 100px;
			line-height: 1;
			text-align: center;
			
			@include break( tab ){
				margin-top: 45px;
			}			
			
			figure{
				position: relative;
				overflow: hidden;
				
				img{
					margin-right: auto;
					margin-left: auto;
					opacity: 0;
					transform: translateX( -20px );
					transition: transition(all, 1s );					
				}
			}

			@at-root .isLoaded .interview__footer.-on{
				figure{					
					img{
						opacity: 1;
						transform: translateX( 0px );					
					}
				}
			}
		}

	}


	
	/**************

	// sections 
	
	**************/
	
	.section--theme
	{
		.aInfo{
			text-align: left;
			position: relative;
			
			@include break( tab ){
				height: 350px;
				overflow: hidden;
			}
		}
		.themeList{
			font-size: $small;
			
			@include break( tab ){
				font-size: 1em;
			}			

			li{
				margin-bottom: 13px;
				padding-left: calc(1em + 8px);
				text-indent: calc(-1em - 8px);				
				display: block;
				&:before{
					line-height: 1;
					content: " ";
					width: 15px;
					height: 1px;
					margin-right: 10px;
					display: inline-block;
					vertical-align: middle;
					background-image: linear-gradient( to left, $blue, $blue_lighten);
				}				
			}

			&__toggle{
				width: 100%;
				display: none;
				
				a{
					padding-top: 50px;
					padding-bottom: 25px;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					text-align: center;
					text-decoration: underline;
					background: linear-gradient( to bottom, rgba(#fff,0),rgba(#fff,1));
					
					@include break( tab ){
						padding-bottom: 13px;
					}					
					
				}

				@include break( tab ){
					display: block;
				}
			}
		}	
	}


	.section--abroad{
		
		.aTable{
			 th{
				width: 150px;
				vertical-align: top;
				
				@include break( tab ){
					width: 100px;
				}				
			}
			ul li{
				display: inline-block;
				&:not(:last-child):after{
					content: ",";
					display: inline-block;
					margin-right: 3px;
					margin-left: 3px;
				}
			}
		}
	}
}