/************************

// about

************************/
.page-about{

	.visual{
		margin-bottom: 200px;

		@include break( tab ){
			margin-bottom: 0;
		}				
	}
	
	.articleContent{
		
		p{
			max-width: 770px;
		}
	}


	/////////教授ご挨拶

	///// 先生
	.greeting{
		margin-top: -100px;
		margin-left: 80px;
		margin-bottom: 40px;
		float: right;
		position: relative;
		
		@include break( tab ){
			margin-bottom: 60px;
			padding-left: 15px;			
			margin-top: 0;
			margin-left: 0;
			font-weight: normal;
		}		
		
		figure{
			position: relative;
			
			@include break( tab ){
			}

			img{
				position: relative;
				z-index: 2;
			}

			&:after{
				content: " ";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 30px;
				left: -40px;
				background-image: linear-gradient( to right, $blue_lighten, $blue_dull);
				@include break( tab ){
					top: 10px;
					left: -15px;
				}
				
			}
		}
		&.js-effect{
			figure img,
			figure:after,
			.greeting__by{
					opacity: 0;
					transition-duration: 1s;
					transition-delay: 1s;
					transform: translateY( 20px );
			}
			figure{
				img{
					transition-delay: 1.7s;
				}
				&:after{
					height: 0;
				}				
			}
			.greeting__by{
				transition-delay: 2s;
			}
		}
		&.-on{
			figure img,
			figure:after,
			.greeting__by{
					opacity: 1;
					transform: translateY( 0px );
			}			
			figure{
				&:after{
					height: 100%;
				}				
			}
		}				

		&__by{
			position: absolute;
			right: 10px;
			bottom: 30px;
			z-index: 2;
			color: $blue_dull;
			letter-spacing: 0.1em;
			font-size: $xsmall;
			font-weight: lighter;			
			text-shadow: 0 0 10px rgba(#000,0.25);
			writing-mode: vertical-rl;
			
			@include break( tab ){
				right: 10px;
				bottom: 10px;
				font-size: $xsmall;
			}

			p{
				margin-right: 0;
			}
			p{
				margin-left: 10px;
			}
			
			&__name{
				letter-spacing: 0.18em;
				line-height: 1;
				margin-left: 0;
				font-weight: bold;
				font-size: 2em;
			}
		}
		
	}
	
	.section--greeting{


		.articleContent__child{
			clear: both;
		}
	}


	//////// 教室の歴史
	.section--culture{
		position: relative;
		
		.section--culture__40th{
			width: percentage( 382.451 / 1366 );
			// width: 482px;
			height: 0;
			padding-top: percentage( 482.451 / 910.546);
			position: absolute;
			right: 0;
			bottom: 0;
			display: block;
			background: url(../img/about/about-culture-40th.svg) center top no-repeat;
			background-size: auto 100%;
			mix-blend-mode: multiply;
			
			@include break( tab ){
				width: 45%;
				padding-top: 80%;
				opacity: 0.35;
				top: 0;
				bottom: auto;
			}				
		}
	}


	//////// アクセス
	.section--access{
		position: relative;
		
		table{
			margin-bottom: 30px;
		}
		
		li:not( :last-child ){
			margin-bottom: 10px;
		}

		.aColumn{
			
			@include break( tab ){
				&__row{
					margin-bottom: 20px;
				}
			}			
		}


		.-introduction{
			.aTable{
				tr{
					width: 100%;
					border-bottom: solid $border 1px;
					
					&:first-child th,
					&:first-child td{
						padding-top: 0;
					}
				}			
			}
		}


		.-byBus{
			.aList{
				margin-bottom: 30px;
				// @include break( tab ){
				// 	margin-bottom: 10px;
				// }				
			}
		}


		.-byCar{
			&__row:first-child{
				@include break( tab ){
					overflow: hidden;
				}				
			}

			iframe{
				height: 300px;
				
				@include break( tab ){
					width: 100%;
					height: 200px;
				}					
			}
		}
	}	
}