/************************

// top

************************/

/**************

// module

****************/

.contactBox
{
	margin-top: 60px;
	padding: 50px;
	border: solid 1px $border;
	
	@include break( tab ){
		margin-top: 35px;
		padding: 20px;
	}	
	
	&__index{
		line-height: 1;
		margin-bottom: 20px;
		font-weight: bold;
		
		@include break( tab ){
			margin-bottom: 13px;
		}			
	}	

	&__text{
		margin-bottom: 20px;
	}	

	&__content{
		
	}

	&__tel{
		font-size: 2.5em;
		color: $green_dark;
		letter-spacing: 0.1em;
		font-family: $fontFamily_bodoniSans_b;	
		
		@include break( tab ){
			font-size: 2em;
			display: block;
		}		
			
		a:before{
			content:  " ";
			line-height: 1;
			width: 20px;
			height: 0.8em;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;	
			position: relative;
			bottom: 4px;					
			background: url( ../img/reha/icon-phone-green.svg ) center center no-repeat;
			background-size: auto 100%;				
		}
	}

	&__telnum{
		line-height: 1;
		
		span{
			@include break( tab ){
				display: block;
				text-align: center;
				
				&:last-child{
					margin-top: 5px;
					font-size: $small;
				}
			}				
		}
	}
}


.section{

	margin-bottom: 200px;
	
	@include break( tab ){
		margin-bottom: 80px;
	}		

	
	&.js-effect{
		opacity: 0;
		transform: translateY( 20px );
	}
	&.-on.js-effect{
		opacity: 1;
		transform: translateY( 0px );		
	}

	&.-box{
		position: relative;
		padding-right: 50px;
		padding-bottom: 5em;
		padding-left: 50px;
		
		@include break( tab ){
			padding-right: 5%;
			padding-bottom: 30px;
			padding-left: 5%;
		}			
		
		.wrap{
			position: relative;
			z-index: 1;
		}

		.section__content{
			max-width: 770px;
		}
		
		&:after{
			content:  "";
			width: 90%;
			height: 0;
			transform: translateY( 30px );
			transition: transition(all, 2s);
			
			margin-right: auto;
			margin-left: auto;
			position: absolute;
			// top: 5em;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #fcfcfc;
			display: block;
		}
	}

	&.-on.-box:after{
		transform: translateY( 0px );		
		height: calc(100% - 5em);
		
		@include break( tab ){
			height: calc(100% - 2.5em);
		}			
	}


	&__content{
		letter-spacing: 0.05em;
	}


	.section__child{
		margin-top: 45px;
		margin-bottom: 45px;
			
		&__index{
			@extend %indexStyle_b;
		}

		@include break( tab ){
			margin-top: 40px;
			margin-bottom: 40px;
		}		
	}
}


//////// check mark list
.aList{
	&.-check{
		li{
			display: block;
			&:before{
				content: "";
				width: 16px;
				height: 9px;
				margin-right: 8px;
				border-left: solid 1px;
				border-bottom: solid 1px;
				transform: rotate( -45deg );
				display: inline-block;
				vertical-align: text-top;
				
				@include break( sp ){
					width: 10px;
					height: 5px;					
				}				
			}
		}
	}
}


//////// table
.aTable{
	width: 100%;
	border-collapse: collapse;
	display: table;

	tr,
	.aTable__tr{
		width: 100%;
		border-bottom: solid $border 1px;
		display: table-row;
		// @include break( tab ){
		// 	display: block;
		// } 			
	}
	th,
	td,
	.aTable__th,
	.aTable__td{
		text-align: left;
		padding-top: 20px;
		padding-bottom: 20px;
		display: table-cell;
		vertical-align: top;
		
		@include break( tab ){
			padding-top: 15px;
			padding-bottom: 15px;
			// display: block;
		} 		
	}

	tr:first-child,
	.aTable__tr:first-child{
		th,
		td{
			padding-top: 0;			
		}		
	}


	th,
	.aTable__th{
		width: 100px;
		font-weight: lighter;
		
		@include break( tab ){
			width: 6em;
		} 		
	}
}

.aColumn{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: table;
	table-layout: fixed;
	
	@include break( tab ){
		margin-top: 25px;
		margin-bottom: 25px;
		display: block;
	}		
	
	&__row{
		display: table-cell;
		vertical-align: top;
	
		@include break( tab ){
			display: block;
		}		
	}
	&__row + .aColumn__row{
		padding-left: 50px;
		@include break( tab ){
			padding-left: 0;
		}
	}	
}



/**************

// style

****************/


.mainvisual{
	margin-bottom: 100px;
	padding-top: 188px;	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
	
	@include break( tab ){
		padding-top: 94px;
		flex-direction: column-reverse;
	}		
	
	&__wrap{
		width: 90%;
		max-width: 1100px;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 0;
		bottom: 50%;
		left: 50%;
		transform: translateY( -50% ) translateX( -50% );
		
		@include break( tab ){
			width: auto;
			padding-right: 5%;
			padding-left: 5%;
			margin-top: 40px;
			position: static;
			transform: none;
		}			
	}

	&__copy{
		letter-spacing: 0.2em;
		font-size: $xlarge;
		font-weight: bold;
		
		@include break( tab ){
			letter-spacing: 0.1em;
			font-size: 4.2vw;
		}			
		
		span{
			display: block;
		}
	}

	&__name{
		margin-top: 30px;
		color: $green_dark;
		font-weight: bold;
		letter-spacing: 0.2em;
		
		@include break( tab ){
			margin-top: 1em;
			letter-spacing: 0.1em;
		}			
	}


	&__img{
		z-index: 1;
		max-width: percentage( 1036 / 1366 );
		position: relative;
		
		@include break( tab ){
			max-width: 100%;
		}			

		&__enTitle{
			line-height: 0.95;
			position: absolute;
			mix-blend-mode: overlay;
			display: block;
			transform: rotate( 90deg );
			position: absolute;
			top: 40px;
			right: 0;
			text-align: left;
			color: #fff;
			font-family: $fontFamily_bodoniSans_bl;
			font-size: 76px;
			letter-spacing: 0.1em;
			@include break( tab ){
				top: 25px;
				font-size: 39px;
			}				
		}
	}


	&__scroll{
		width: 90%;
		max-width: 1100px;
		height: 40px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		bottom: calc( 10vh + 20px );
		
		&:after,
		&:before{
			content: " ";
			display: block;
			width: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			
		}
		&:after{
			height: 100%;
			background-color: #fff;
			// background-color: lighten($green, 10%);
		}
		&:before{
			background-color: #fff;
			z-index: 1;
			opacity: 0.5;
			
			animation: scroll 2s linear 0s infinite normal;
		}
	}
}


//////////

// atfter load effect

//////////

.mainvisual__copy span,
.mainvisual__name,
.mainvisual__img img{
		transition: transition(all, 1s);
		transform: translateY(20px);
		opacity: 0;
}

.mainvisual__img__enTitle{
	// filter: blur( 10px );
	opacity: 0;
	transform:translateY(20px)  rotate( 90deg ) ;
	
	text-shadow: 0 0 10px #fff;
	transition: transition(all, 1s);
}


.isLoaded.isRenderered{
	
	.mainvisual__copy span,
	.mainvisual__name,
	.mainvisual__img img{
		transform: translateY(0px);
		opacity: 1;
	}

	.mainvisual{
		&__copy span:first-child{
			transition-delay: 0.4s;
		}
		&__copy span:last-child{
			transition-delay: 0.5s;
		}

		&__name {
			transition-delay: 0.6s;
		}		
		&__img img{
			transition-delay: 0.8s;
		}
		&__img__enTitle{
			opacity: 1;
			transform:translateY(0px)  rotate( 90deg ) ;	
			text-shadow: none;
			transition-delay: 1s;
		}		
	}
}



/**************

// intro

****************/

.introSection
{
	margin-bottom: 60px;
	position: relative;
	
	@include break( tab ){
		margin-bottom: 30px;
	}		

	&__wrap{
		// position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;		
		
		@include break( tab ){
			flex-direction: column!important;
		}			
		
	}
	
	
	&.-rtol{

		.introSection__wrap{
			flex-direction: row-reverse;		
		}
		
		.introSection__img{
			right: auto;
			left: 0;
		}
	}

	&:first-child .introSection__img{
		transform: translateY( -30px );
		
		@include break( tab ){
			transform: translateY( 0 );
		}			
	}
	
	.section{
		&__index{
			margin-bottom: -20px;
		}
	}
	
	&__text{
		width: calc( 50% - 50px );
		// flex: 0 1 50%;
		
		@include break( tab ){
			width: auto;
			margin-bottom: 35px;
		}			

		p:last-child{
			margin-top: 0;
			margin-bottom: 0;
		}
	}


	&__img{
		width: 50%;
		position: absolute;
		right: 0;
		overflow: hidden;
		transition: transition();
		will-change: height;
		// flex: 0 1 50%;
		
		@include break( tab ){
			width: 100%;
			position: relative;
		}	
		
		&:after{
			content: " ";
			display: block;
			width: 100%;
			// height: percentage( 464 / 633 );			
			height: 0;
			padding-top: 0;
			transition: transition( all, 0.5s );	
		}	
		
		img{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			transition: transition(all, 1s);
			transform: translateY( 20px );
		}
	}
	&.-on .introSection__img{

		&:after{
			padding-top: percentage( 464 / 633 );
		}

		img{
			opacity: 1;
			transform: translateY( 0 );
		}
		
	}
	


	&__child{
			
		&__index{
			margin-bottom: 35px;
			font-weight: bold;			
		}
		p{
			margin-top: 0;
			margin-bottom: 0;
		}

		p:not( :last-child ){
			margin-bottom: 35px;
			@include break( tab ){
				margin-bottom: 20px;
			}				
		}
	}
}




/**************

// programs

****************/

.section--programs{
	.section__index{
		margin-top: -0.5em;
	}
}




/**************

// doctors

****************/

.section--doctors{

	.section__index{
		margin-bottom: 40px;
	}

	.doctor{
			display: flex;
			flex-direction: row;	
			justify-content: space-between;
			align-items: flex-start;
			

			@include break( tab ){
				display: block;
			}

			
			&:not( :last-child ){
				margin-bottom: 100px;
				
				@include break( tab ){
					margin-bottom: 30px;
				}				
			}
			
			&__left{
				width: 200px;
				margin-right: 50px;
				flex-shrink: 0;
				
				@include break( tab ){
					width: 100%;
					margin-right: 0;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
				}	


				&__detail{
					@include break( tab ){
					}
				}	

				
				.doctorImage,
				.doctorName,
				.doctorNameEn,
				.doctorWork{
					transition: transition( all, 1s );
					transform: translateX( -20px );					
					opacity: 0;
				}

				@at-root .section--doctors .doctor.-on{					
					.doctorImage,
					.doctorName,
					.doctorNameEn,
					.doctorWork{
						transform: translateX( 0px );					
						opacity: 1;					
					}
				}

				
				.doctorImage{
					line-height: 1;
					margin-bottom: 20px;
					transition-delay: 0.1s;
					
					@include break( tab ){
						width: 100px;
						margin-right: 20px;
						margin-bottom: 0;
					}					
				}

				.doctorNameEn{
					margin-bottom: 15px;
					line-height: 1.1;
					display: block;
					font-weight: lighter;
					transition-delay: 0.2s;
					font-family: $fontFamily_bodoniSans_b;
					color: desaturate( lighten( $green, 50% ), 10% );
					opacity: 0.25;
					font-size: 2em;					
					
					@include break( tab ){
						margin-bottom: 7px;
					}					
				}
				
				.doctorName{
					line-height: 1;
					margin-bottom: 10px;
					letter-spacing: 0.1em;
					font-size: $small;
					font-weight: bold;
					transition-delay: 0.3s;
					
					
					@include break( tab ){
						margin-bottom: 5px;
					}						
					
					
					&:before{
						content: attr( data-en );

  						white-space: pre;						
					}
				}

				.doctorWork{
					font-size: $xsmall;
					transition-delay: 0.5s;					
				}
			}

			&__right{
				width: 100%;
				transition: transition(all, 1s );
				transition-delay: 0.25s;
				
				.doctorDetail{
					&__row{
						width: 100%;
						padding-top: 25px;
						padding-bottom: 25px;
						display: table;
						position: relative;
						
						&:not(:last-child):after{
							content: " ";
							width: 0%;
							height: 1px;
							display: block;
							position: absolute;
							right: 0;
							bottom: 0;
							left: 0;
							transition: easeInOutCirc( all, 1s );
							background-color: $border;
						}

						@for $i from 1 through 7 {
							&:nth-child( #{$i} ):after{
								transition-delay: #{ 0.1 * $i }s;
							} 
						}

						@at-root .section--doctors .doctor.-on .doctorDetail__row:not(:last-child):after{
							width: 100%;
						}
					}
					&__th{
						width: 155px;
						padding-right: 20px;
						font-weight: bold;
						display: table-cell;
					
						@include break( tab ){
							width: 90px;
						}							
					}
					&__td{
						display: table-cell;
						
					}
				}
			}
	}		
}



/**************

// access

****************/
.section--access{
		position: relative;
		
		ul{
			li{
				display: block;
			}
		}
		
		table{
			margin-bottom: 30px;
		}
		
		li:not( :last-child ){
			margin-bottom: 10px;
		}

		.aColumn{
			
			@include break( tab ){
				&__row{
					margin-bottom: 20px;
				}
			}			
		}


		.-introduction{
			.aTable{
				tr{
					width: 100%;
					border-bottom: solid $border 1px;
					
					&:first-child th,
					&:first-child td{
						padding-top: 0;
					}
				}			
			}
		}


		.-byBus{
			.aList{
				margin-bottom: 30px;
				// @include break( tab ){
				// 	margin-bottom: 10px;
				// }				
			}
		}


		.-byCar{
			&__row:first-child{
				@include break( tab ){
					overflow: hidden;
				}				
			}

			.aColumn__row:first-child{
				@include break( tab ){
					width: 100%;
					height: 0;
					overflow: hidden;
					padding-top: 56.25%;
					position: relative;
					iframe{
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
					}
				}				
			}

			iframe{
				height: 300px;
				
				@include break( tab ){
					width: 100%;
					height: 200px;
				}					
				@include break( 340 ){
					width: 290px;
				}					
			}
		}
	}	




/**************

// contact

****************/
.section--contact{

	&.-box .section__content{
		max-width: none;
	}

	.contactBoxes{
		display: flex;
		flex-direction: row;
			
		@include break( tab ){
			display: block;
		}			
		
		.contactBox{
			width: 100%;
			
			&:first-child{
				border-right: none;
			}
			@include break( tab ){
				width: auto;
				margin-top: 0;
				&:first-child{
					border-bottom: none;
					border-right: solid 1px $border;
				}				
			}					
		}
	}
		
}		