@charset "utf-8";
//////////////////////////////////////////

//text typography setting

//include by style.scss

/////////////////////

.section__index{
	position: relative;
	line-height: 1;
	letter-spacing: 0.2em;
	
	@include break( tab ){
		margin-bottom: 30px;
	}		
	
	.ja,
	.en span{
		opacity: 0;
		transform: translateY( 20px );
		transition: transition( all, 0.8s );	
		
		will-change: filter, transform;	
	}

	.en{
		color: #f4f4f4;
		font-size: 10em;
		font-family: $fontFamily_bodoniSans_b;		
		letter-spacing: 0.1em;
		
		br{
			display: none;
		}
		
		@include break( tab ){
			font-size: 14.5vw;
			// font-size: 4.5em;
		
			br{
				display: block;
			}
		}

		@include break( 320 ){
		}			
	}
	.en span{
		display: inline-block;
		opacity: 0;
		transform: scale( 0.9 ) translateY( 30px );
		transition: transition( all, 0.8s );

		@for $i from 1 through 12 {
			&:nth-of-type( #{$i} ){
				transition-delay: #{ 0.1 * $i + 0.1}s;
			}
		}
	}

	.ja{
		position: absolute;
		bottom: 0;
		font-weight: bold;	
		
		@include break( tab ){
			margin-top: 1em;
			position: static;
		}			
	}


}
.-on .section__index{
	.ja,
	 .en span{
		opacity: 1;		
		transform: scale( 1 ) translateY( 00px );
	}
}