
		<div class="loadingAnim">
			<div className="loadingAnim__wrap">
				<div className="loadingAnim__logo">
					<img src="<%- $path %>/../img/reha/logo-header.png" width="251" alt=""/>
				</div>
				<div class="loadingAnim__text">
					LOADING
				</div>
			</div>
		</div> 
		<header class="siteHeader">
			<div class="wrap">
				<h1 class="siteHeader__logo">
					<img src="<%- $path %>../img/reha/logo-header.png" width="502" alt="滋賀医科大学 リハビリテーション科">
				</h1>
				<nav class="siteHeader__nav">
					<ul>
						<li>
							<a href="tel:077-548-2252">
								<dl class="siteHeader__nav__tel">
									<dt>医局</dt>
									<dd>077-548-2252</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="tel:077-548-2252">
								<dl class="siteHeader__nav__tel">
									<dt>外来</dt>
									<dd>077-548-2670</dd>
								</dl>
							</a>
						</li>						
					</ul>
				</nav>
			</div>
		</header>
		