		<div class="loadingAnim">
			<!-- ***** loadingAnim -->
			<div class="loadingAnim__content">
				<div class="loadingAnim__logo">
					<img src="<%- $path %>../img/common/logo.png" width="100" alt="">
				</div>
				<div class="loadingAnim__text"><img src="<%- $path %>../img/common/loading.png" width="96" alt=""></div>
			</div>
			<!-- ///// loadingAnim -->
		</div>
		<header class="siteHeader">
			<div class="wrap">
				<h1 class="siteHeader__logo">
					<a href="<%- $path %>"><img src="<%- $path %>../img/reha/logo-header.png" width="502" alt="滋賀医科大学 リハビリテーション科"></a>
				</h1>
				<nav class="siteHeader__nav">
					<ul>
						<li>
							<a href="tel:077-548-2252">
								<dl class="siteHeader__nav__tel">
									<dt>医局</dt>
									<dd>077-548-2252</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="tel:077-548-2252">
								<dl class="siteHeader__nav__tel">
									<dt>外来</dt>
									<dd>077-548-2670</dd>
								</dl>
							</a>
						</li>						
					</ul>
				</nav>
			</div>
		</header>
		