	<nav class="nav">
		<ul>
			<li class="nav__phase phase--intro" data-nav="intro">
				<a href="#intro">
					<div>
						<p class="en">I<span>ntroduction</span></p>
						<p class="ja"><span>ご挨拶と</span>理念</p>
					</div>
				</a>
			</li>
			<li class="nav__phase phase--program" data-nav="programs">
				<a href="#programs">
					<div>
						<p class="en">P<span>rograms</span></p>
						<p class="ja">専門研修<span>プログラムについて</span></p>
					</div>
				</a>
			</li>
			<li class="nav__phase phase--doctors" data-nav="doctors">
				<a href="#doctors">
					<div>
						<p class="en">D<span>octors</span></p>
						<p class="ja">医師<span>スタッフご</span>紹介</p>
					</div>
				</a>
			</li>
			<li class="nav__phase phase--schedule" data-nav="schedule">
				<a href="#schedule">
					<div>
						<p class="en">S<span>chedule</span></p>
						<p class="ja"><span>外来</span>診察<span>医</span>予定<span>表</span></p>
					</div>
				</a>
			</li>
			<li class="nav__phase phase--access" data-nav="access">
				<a href="#access">
					<div>
						<p class="en">A<span>ccess</span></p>
						<p class="ja">アクセス</p>
					</div>
				</a>
			</li>
			<li class="nav__phase phase--contact" data-nav="contact">
				<a href="#contact">
					<div>
						<p class="en">C<span>ontact</span></p>
						<p class="ja">お問い合わせ</p>
					</div>
				</a>
			</li>			
		</ul>
	</nav>	